.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: hsl(197, 89%, 68%);
    color: #16479d;
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo img {
    width: 40px;
    margin-right: 0.8em;
}

.navbar_hello_text {
    display: flex;
    align-items: center;
    padding: 0.5em 0.8em;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0.5em 0.8em;
}

.navbar li,
.navbar a {
    text-decoration: none;
    color: #033895;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5em 0.8em;
    border-radius: 5px;
}

.navbar li:hover {
    background-color: #16479d;
    color: #ffff;
}

.navbar li:hover > a {
    background-color: #16479d;
    color: #ffff;
}
